-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "AP_KV" (
    "AK_MA" SERIAL NOT NULL,
    "XP_MA" INTEGER NOT NULL,
    "AK_TEN" TEXT NOT NULL,

    CONSTRAINT "AP_KV_pkey" PRIMARY KEY ("AK_MA")
);

-- CreateTable
CREATE TABLE "AUDIT_LOG" (
    "AL_ID" BIGSERIAL NOT NULL,
    "AL_TABLE" TEXT NOT NULL,
    "AL_ACTION" TEXT NOT NULL,
    "AL_PK" JSONB,
    "AL_OLD" JSONB,
    "AL_NEW" JSONB,
    "AL_CHANGED_BY" TEXT,
    "AL_CHANGED_AT" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AUDIT_LOG_pkey" PRIMARY KEY ("AL_ID")
);

-- CreateTable
CREATE TABLE "BAC_SI" (
    "BS_MA" SERIAL NOT NULL,
    "CK_MA" INTEGER NOT NULL,
    "TK_SDT" TEXT,
    "BS_EMAIL" TEXT,
    "BS_SDT" TEXT,
    "BS_HOC_HAM" TEXT,
    "BS_NGAY_CAP_NHAT" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "BS_DA_XOA" BOOLEAN DEFAULT false,
    "BS_HO_TEN" TEXT NOT NULL,
    "BS_NGAY_TAO" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "BS_ANH" TEXT,

    CONSTRAINT "BAC_SI_pkey" PRIMARY KEY ("BS_MA")
);

-- CreateTable
CREATE TABLE "BENH" (
    "B_MA_ICD" TEXT NOT NULL,
    "B_TEN_BENH" TEXT NOT NULL,
    "B_MO_TA" TEXT,

    CONSTRAINT "BENH_pkey" PRIMARY KEY ("B_MA_ICD")
);

-- CreateTable
CREATE TABLE "BENH_NHAN" (
    "BN_MA" SERIAL NOT NULL,
    "TK_SDT" TEXT,
    "AK_MA" INTEGER,
    "BN_LA_NAM" BOOLEAN,
    "BN_NGAY_SINH" DATE,
    "BN_HO_CHU_LOT" TEXT,
    "BN_TEN" TEXT,
    "BN_EMAIL" TEXT,
    "BN_CCCD" TEXT,
    "BN_SO_BHYT" TEXT,
    "BN_QUOC_GIA" TEXT,
    "BN_DAN_TOC" TEXT,
    "BN_SO_DDCN" TEXT,
    "BN_MOI" BOOLEAN DEFAULT false,
    "BN_SDT_DANG_KY" TEXT,
    "BN_DIA_CHI" TEXT,
    "BN_QUAN_HE_VOI_TK" TEXT,
    "BN_DA_VO_HIEU" BOOLEAN DEFAULT false,
    "BN_ANH" TEXT,

    CONSTRAINT "BENH_NHAN_pkey" PRIMARY KEY ("BN_MA")
);

-- CreateTable
CREATE TABLE "BIET_DUOC" (
    "BD_MA" SERIAL NOT NULL,
    "BD_TEN" TEXT NOT NULL,
    "BD_CONG_DUNG" TEXT,
    "BD_HAM_LUONG" TEXT,
    "BD_LIEU_DUNG" TEXT,

    CONSTRAINT "BIET_DUOC_pkey" PRIMARY KEY ("BD_MA")
);

-- CreateTable
CREATE TABLE "BUOI" (
    "B_TEN" TEXT NOT NULL,
    "B_GIO_BAT_DAU" TIME(6),
    "B_GIO_KET_THUC" TIME(6),

    CONSTRAINT "BUOI_pkey" PRIMARY KEY ("B_TEN")
);

-- CreateTable
CREATE TABLE "CHAN_DOAN" (
    "PKB_MA" INTEGER NOT NULL,
    "B_MA_ICD" TEXT NOT NULL,

    CONSTRAINT "CHAN_DOAN_pkey" PRIMARY KEY ("PKB_MA","B_MA_ICD")
);

-- CreateTable
CREATE TABLE "CHI_SO_SUC_KHOE" (
    "CSSK_MA" SERIAL NOT NULL,
    "BN_MA" INTEGER,
    "CSSK_NGAY_DO" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "CSSK_CAN_NANG" DECIMAL(6,2),
    "CSSK_CHIEU_CAO" DECIMAL(6,2),
    "CSSK_HUYET_AP" TEXT,
    "CSSK_NHIP_TIM" INTEGER,
    "CSSK_NHIET_DO" DECIMAL(4,2),
    "CSSK_DUONG_HUYET" DECIMAL(6,2),
    "CSSK_GHI_CHU" TEXT,

    CONSTRAINT "CHI_SO_SUC_KHOE_pkey" PRIMARY KEY ("CSSK_MA")
);

-- CreateTable
CREATE TABLE "CHI_TIET_DON_THUOC" (
    "DT_MA" INTEGER NOT NULL,
    "T_MA" INTEGER NOT NULL,
    "CTDT_LIEU_DUNG" TEXT,
    "CTDT_SO_LUONG" INTEGER NOT NULL,
    "CTDT_CACH_DUNG" TEXT,

    CONSTRAINT "CHI_TIET_DON_THUOC_pkey" PRIMARY KEY ("DT_MA","T_MA")
);

-- CreateTable
CREATE TABLE "CHUYEN_KHOA" (
    "CK_MA" SERIAL NOT NULL,
    "CK_TEN" TEXT NOT NULL,
    "CK_MO_TA" TEXT,
    "CK_DOI_TUONG_KHAM" TEXT,

    CONSTRAINT "CHUYEN_KHOA_pkey" PRIMARY KEY ("CK_MA")
);

-- CreateTable
CREATE TABLE "DANG_KY" (
    "DK_MA" SERIAL NOT NULL,
    "BN_MA" INTEGER NOT NULL,
    "LHK_MA" INTEGER,
    "BS_MA" INTEGER NOT NULL,
    "N_NGAY" DATE NOT NULL,
    "B_TEN" TEXT NOT NULL,
    "KG_MA" INTEGER NOT NULL,
    "DK_TRANG_THAI" TEXT DEFAULT 'CHO_KHAM',
    "DK_STT" INTEGER,
    "DK_LY_DO_HUY" TEXT,
    "DK_THOI_GIAN_TAO" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DANG_KY_pkey" PRIMARY KEY ("DK_MA")
);

-- CreateTable
CREATE TABLE "DICHVU" (
    "DVCLS_MA" SERIAL NOT NULL,
    "DVCLS_TEN" TEXT NOT NULL,
    "DVCLS_LOAI" TEXT,
    "DVCLS_GIA_DV" DECIMAL(12,2) DEFAULT 0,

    CONSTRAINT "DICHVU_pkey" PRIMARY KEY ("DVCLS_MA")
);

-- CreateTable
CREATE TABLE "DON_THUOC" (
    "DT_MA" SERIAL NOT NULL,
    "PKB_MA" INTEGER,
    "DT_NGAY_TAO" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "DT_GHI_CHU" TEXT,
    "DT_SO_NGAY_SUNG" INTEGER,

    CONSTRAINT "DON_THUOC_pkey" PRIMARY KEY ("DT_MA")
);

-- CreateTable
CREATE TABLE "DON_VI_TINH" (
    "DVT_MA" SERIAL NOT NULL,
    "DVT_TEN" TEXT NOT NULL,

    CONSTRAINT "DON_VI_TINH_pkey" PRIMARY KEY ("DVT_MA")
);

-- CreateTable
CREATE TABLE "KET_QUA_CAN_LAM_SAN" (
    "PCD_MA" INTEGER NOT NULL,
    "DVCLS_MA" INTEGER NOT NULL,
    "KQCLS_HINH_ANH" TEXT,
    "KQCLS_NHAN_XET" TEXT,
    "KQCLS_CHI_SO" JSONB,

    CONSTRAINT "KET_QUA_CAN_LAM_SAN_pkey" PRIMARY KEY ("PCD_MA","DVCLS_MA")
);

-- CreateTable
CREATE TABLE "KHUNG_GIO" (
    "KG_MA" SERIAL NOT NULL,
    "B_TEN" TEXT NOT NULL,
    "KG_BAT_DAU" TIME(6) NOT NULL,
    "KG_KET_THUC" TIME(6) NOT NULL,
    "KG_SO_BN_TOI_DA" SMALLINT,

    CONSTRAINT "KHUNG_GIO_pkey" PRIMARY KEY ("KG_MA")
);

-- CreateTable
CREATE TABLE "LICH_BSK" (
    "BS_MA" INTEGER NOT NULL,
    "P_MA" INTEGER NOT NULL,
    "N_NGAY" DATE NOT NULL,
    "B_TEN" TEXT NOT NULL,
    "LBM_ID" INTEGER,
    "DLT_TUAN_BAT_DAU" DATE,
    "LBSK_NGUON" TEXT NOT NULL DEFAULT 'legacy_registration',
    "LBSK_TRANG_THAI" TEXT NOT NULL DEFAULT 'generated',
    "LBSK_TAO_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "LBSK_CAP_NHAT_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "LBSK_XAC_NHAN_LUC" TIMESTAMP(6),
    "LBSK_TRANGTHAI_DUYET" TEXT NOT NULL DEFAULT 'pending',
    "LBSK_GHI_CHU" TEXT,
    "LBSK_DUYET_BOI" TEXT,
    "LBSK_DUYET_LUC" TIMESTAMP(6),

    CONSTRAINT "LICH_BSK_pkey" PRIMARY KEY ("BS_MA","N_NGAY","B_TEN")
);

-- CreateTable
CREATE TABLE "LIEU_DUNG_HOAT_CHAT" (
    "LD_ID" SERIAL NOT NULL,
    "LD_HOAT_CHAT" TEXT NOT NULL,
    "LD_DUONG_DUNG" TEXT,
    "LD_LIEU_NGUOI_LON" TEXT,
    "LD_LIEU_TRE_EM" TEXT,
    "LD_CHI_DINH" TEXT,
    "LD_GHI_CHU" TEXT,
    "LD_NGUON" TEXT,

    CONSTRAINT "LIEU_DUNG_HOAT_CHAT_pkey" PRIMARY KEY ("LD_ID")
);

-- CreateTable
CREATE TABLE "LOAI_HINH_KHAM" (
    "LHK_MA" SERIAL NOT NULL,
    "CK_MA" INTEGER NOT NULL,
    "LHK_TEN" TEXT NOT NULL,
    "LHK_GIA" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "LHK_MO_TA" TEXT,

    CONSTRAINT "LOAI_HINH_KHAM_pkey" PRIMARY KEY ("LHK_MA")
);

-- CreateTable
CREATE TABLE "NGAY" (
    "N_NGAY" DATE NOT NULL,
    "N_LA_NGAY_LAM" BOOLEAN NOT NULL DEFAULT true,
    "N_GHI_CHU" TEXT,

    CONSTRAINT "NGAY_pkey" PRIMARY KEY ("N_NGAY")
);

-- CreateTable
CREATE TABLE "NHA_SAN_XUAT" (
    "NSX_MA" SERIAL NOT NULL,
    "NSX_TEN" TEXT NOT NULL,
    "NSX_NUOC_SAN_XUAT" TEXT,

    CONSTRAINT "NHA_SAN_XUAT_pkey" PRIMARY KEY ("NSX_MA")
);

-- CreateTable
CREATE TABLE "NHOM_THUOC" (
    "NT_MA" SERIAL NOT NULL,
    "NT_TEN" TEXT NOT NULL,

    CONSTRAINT "NHOM_THUOC_pkey" PRIMARY KEY ("NT_MA")
);

-- CreateTable
CREATE TABLE "PHIEU_CDCLS" (
    "PCD_MA" SERIAL NOT NULL,
    "PKB_MA" INTEGER,
    "PCD_GIO_IN" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PHIEU_CDCLS_pkey" PRIMARY KEY ("PCD_MA")
);

-- CreateTable
CREATE TABLE "PHIEU_KHAM_BENH" (
    "PKB_MA" SERIAL NOT NULL,
    "DK_MA" INTEGER,
    "PKB_TRIEU_CHUNG" TEXT,
    "PKB_KET_LUAN" TEXT,
    "PKB_LAN_KHAM" INTEGER,
    "PKB_LOI_DAN" TEXT,

    CONSTRAINT "PHIEU_KHAM_BENH_pkey" PRIMARY KEY ("PKB_MA")
);

-- CreateTable
CREATE TABLE "PHONG" (
    "P_MA" SERIAL NOT NULL,
    "CK_MA" INTEGER NOT NULL,
    "P_TEN" TEXT NOT NULL,
    "P_VI_TRI" TEXT,

    CONSTRAINT "PHONG_pkey" PRIMARY KEY ("P_MA")
);

-- CreateTable
CREATE TABLE "LICH_BSK_MAU" (
    "LBM_ID" SERIAL NOT NULL,
    "BS_MA" INTEGER NOT NULL,
    "CK_MA" INTEGER NOT NULL,
    "P_MA" INTEGER NOT NULL,
    "B_TEN" TEXT NOT NULL,
    "LBM_THU_TRONG_TUAN" INTEGER NOT NULL,
    "LBM_HIEU_LUC_TU" DATE NOT NULL,
    "LBM_HIEU_LUC_DEN" DATE,
    "LBM_TRANG_THAI" TEXT NOT NULL DEFAULT 'active',
    "LBM_GHI_CHU" TEXT,
    "LBM_TAO_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "LBM_TAO_BOI" TEXT,
    "LBM_CAP_NHAT_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "LBM_CAP_NHAT_BOI" TEXT,

    CONSTRAINT "LICH_BSK_MAU_pkey" PRIMARY KEY ("LBM_ID")
);

-- CreateTable
CREATE TABLE "LICH_BSK_NHAP" (
    "LBN_ID" SERIAL NOT NULL,
    "CK_MA" INTEGER NOT NULL,
    "LBN_TU_NGAY" DATE NOT NULL,
    "LBN_DEN_NGAY" DATE NOT NULL,
    "LBN_DU_LIEU" JSONB NOT NULL,
    "LBN_TAO_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "LBN_TAO_BOI" TEXT,
    "LBN_CAP_NHAT_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "LBN_CAP_NHAT_BOI" TEXT,

    CONSTRAINT "LICH_BSK_NHAP_pkey" PRIMARY KEY ("LBN_ID")
);

-- CreateTable
CREATE TABLE "DOT_LICH_TUAN" (
    "DLT_TUAN_BAT_DAU" DATE NOT NULL,
    "DLT_TUAN_KET_THUC" DATE NOT NULL,
    "DLT_TRANG_THAI" TEXT NOT NULL DEFAULT 'generated',
    "DLT_SINH_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "DLT_SINH_BOI" TEXT,
    "DLT_CHOT_LUC" TIMESTAMP(6),
    "DLT_CHOT_BOI" TEXT,
    "DLT_MO_SLOT_LUC" TIMESTAMP(6),
    "DLT_MO_SLOT_BOI" TEXT,
    "DLT_GHI_CHU" TEXT,

    CONSTRAINT "DOT_LICH_TUAN_pkey" PRIMARY KEY ("DLT_TUAN_BAT_DAU")
);

-- CreateTable
CREATE TABLE "YEU_CAU_LICH_BSK" (
    "YCL_ID" SERIAL NOT NULL,
    "BS_MA" INTEGER NOT NULL,
    "LBSK_N_NGAY" DATE NOT NULL,
    "LBSK_B_TEN" TEXT NOT NULL,
    "YCL_LOAI" TEXT NOT NULL,
    "YCL_LY_DO" TEXT NOT NULL,
    "YCL_TRANG_THAI" TEXT NOT NULL DEFAULT 'pending',
    "YCL_TRANG_THAI_TRUOC" TEXT,
    "YCL_NGAY_MOI" DATE,
    "YCL_BUOI_MOI" TEXT,
    "YCL_P_MA_MOI" INTEGER,
    "YCL_GOI_Y_BS_MA" INTEGER,
    "YCL_GHI_CHU_ADMIN" TEXT,
    "YCL_TAO_LUC" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "YCL_TAO_BOI" TEXT,
    "YCL_DUYET_LUC" TIMESTAMP(6),
    "YCL_DUYET_BOI" TEXT,

    CONSTRAINT "YEU_CAU_LICH_BSK_pkey" PRIMARY KEY ("YCL_ID")
);

-- CreateTable
CREATE TABLE "TAI_KHOAN" (
    "TK_SDT" TEXT NOT NULL,
    "TK_PASS" TEXT NOT NULL,
    "TK_NGAY_TAO" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "TK_NGAY_CAP_NHAT" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "TK_DA_XOA" BOOLEAN DEFAULT false,
    "TK_VAI_TRO" TEXT,

    CONSTRAINT "TAI_KHOAN_pkey" PRIMARY KEY ("TK_SDT")
);

-- CreateTable
CREATE TABLE "THANH_TOAN" (
    "TT_MA" SERIAL NOT NULL,
    "DK_MA" INTEGER,
    "PKB_MA" INTEGER,
    "TT_LOAI" TEXT,
    "TT_PHUONG_THUC" TEXT,
    "TT_PHUONG_THUC_TT" TEXT,
    "TT_TIEN_KHAM" DECIMAL(12,2) DEFAULT 0,
    "TT_PHI_TIEN_ICH" DECIMAL(12,2) DEFAULT 0,
    "TT_TONG_TIEN" DECIMAL(12,2) DEFAULT 0,
    "TT_TRANG_THAI" TEXT,
    "TT_MIEN_GIAM" DECIMAL(12,2) DEFAULT 0,
    "TT_THUC_THU" DECIMAL(12,2) DEFAULT 0,
    "TT_MA_GIAO_DICH" TEXT,
    "TT_THOI_GIAN" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "THANH_TOAN_pkey" PRIMARY KEY ("TT_MA")
);

-- CreateTable
CREATE TABLE "THONG_BAO" (
    "TB_MA" SERIAL NOT NULL,
    "TK_SDT" TEXT,
    "TB_TIEU_DE" TEXT,
    "TB_LOAI" TEXT,
    "TB_NOI_DUNG" TEXT,
    "TB_TRANG_THAI" TEXT,
    "TB_THOI_GIAN" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "THONG_BAO_pkey" PRIMARY KEY ("TB_MA")
);

-- CreateTable
CREATE TABLE "THUCHIEN" (
    "PCD_MA" INTEGER NOT NULL,
    "DVCLS_MA" INTEGER NOT NULL,
    "CTCD_LAN_THUC_HIEN" INTEGER DEFAULT 1,
    "CTCD_DA_THUC_HIEN" BOOLEAN DEFAULT false,
    "CTCD_THOI_GIAN_CHECKIN" TIMESTAMP(6),

    CONSTRAINT "THUCHIEN_pkey" PRIMARY KEY ("PCD_MA","DVCLS_MA")
);

-- CreateTable
CREATE TABLE "THUOC" (
    "T_MA" SERIAL NOT NULL,
    "BD_MA" INTEGER,
    "DVT_MA" INTEGER,
    "NT_MA" INTEGER,
    "NSX_MA" INTEGER,
    "T_TEN_THUOC" TEXT NOT NULL,
    "T_DA_XOA" BOOLEAN DEFAULT false,
    "T_GIA_THUOC" DECIMAL(12,2) DEFAULT 0,
    "T_HAN_SU_DUNG" DATE,

    CONSTRAINT "THUOC_pkey" PRIMARY KEY ("T_MA")
);

-- CreateTable
CREATE TABLE "TINH_TP" (
    "TTP_MA" SERIAL NOT NULL,
    "TTP_TEN" TEXT NOT NULL,

    CONSTRAINT "TINH_TP_pkey" PRIMARY KEY ("TTP_MA")
);

-- CreateTable
CREATE TABLE "XAC_THUC_OTP" (
    "OTP_MA" SERIAL NOT NULL,
    "TK_SDT" TEXT,
    "OTP_CODE" TEXT NOT NULL,
    "OTP_LOAI" TEXT,
    "OTP_THOI_GIAN_TAO" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "OTP_HET_HAN" TIMESTAMP(6),
    "OTP_TRANG_THAI" TEXT,

    CONSTRAINT "XAC_THUC_OTP_pkey" PRIMARY KEY ("OTP_MA")
);

-- CreateTable
CREATE TABLE "XA_PHUONG" (
    "XP_MA" SERIAL NOT NULL,
    "TTP_MA" INTEGER NOT NULL,
    "XP_TEN" TEXT NOT NULL,

    CONSTRAINT "XA_PHUONG_pkey" PRIMARY KEY ("XP_MA")
);

-- CreateTable
CREATE TABLE "REFRESH_TOKEN" (
    "RT_ID" BIGSERIAL NOT NULL,
    "TK_SDT" TEXT NOT NULL,
    "RT_HASH" TEXT NOT NULL,
    "RT_CREATED_AT" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "RT_EXPIRES_AT" TIMESTAMP(6) NOT NULL,
    "RT_REVOKED_AT" TIMESTAMP(6),
    "RT_USER_AGENT" TEXT,
    "RT_IP" TEXT,

    CONSTRAINT "REFRESH_TOKEN_pkey" PRIMARY KEY ("RT_ID")
);

-- CreateIndex
CREATE INDEX "idx_ak_xp" ON "AP_KV"("XP_MA");

-- CreateIndex
CREATE INDEX "idx_audit_table_time" ON "AUDIT_LOG"("AL_TABLE", "AL_CHANGED_AT");

-- CreateIndex
CREATE UNIQUE INDEX "BAC_SI_TK_SDT_key" ON "BAC_SI"("TK_SDT");

-- CreateIndex
CREATE INDEX "idx_bs_ck" ON "BAC_SI"("CK_MA");

-- CreateIndex
CREATE INDEX "idx_cssk_bn" ON "CHI_SO_SUC_KHOE"("BN_MA");

-- CreateIndex
CREATE INDEX "idx_dk_slot" ON "DANG_KY"("BS_MA", "N_NGAY", "B_TEN", "KG_MA");

-- CreateIndex
CREATE INDEX "idx_dk_bn" ON "DANG_KY"("BN_MA");

-- CreateIndex
CREATE INDEX "idx_dk_lich" ON "DANG_KY"("BS_MA", "N_NGAY", "B_TEN");

-- CreateIndex
CREATE INDEX "idx_kg_buoi" ON "KHUNG_GIO"("B_TEN");

-- CreateIndex
CREATE INDEX "idx_lich_bsk_mau" ON "LICH_BSK"("LBM_ID");

-- CreateIndex
CREATE INDEX "idx_lich_bsk_tuan" ON "LICH_BSK"("DLT_TUAN_BAT_DAU");

-- CreateIndex
CREATE INDEX "idx_lich_bsk_trang_thai" ON "LICH_BSK"("LBSK_TRANG_THAI");

-- CreateIndex
CREATE UNIQUE INDEX "uq_lich_phong_ngay_buoi" ON "LICH_BSK"("P_MA", "N_NGAY", "B_TEN");

-- CreateIndex
CREATE INDEX "idx_ld_hoatchat" ON "LIEU_DUNG_HOAT_CHAT"("LD_HOAT_CHAT");

-- CreateIndex
CREATE INDEX "idx_lhk_ck" ON "LOAI_HINH_KHAM"("CK_MA");

-- CreateIndex
CREATE UNIQUE INDEX "PHIEU_KHAM_BENH_DK_MA_key" ON "PHIEU_KHAM_BENH"("DK_MA");

-- CreateIndex
CREATE INDEX "idx_phong_ck" ON "PHONG"("CK_MA");

-- CreateIndex
CREATE INDEX "idx_lbm_bs" ON "LICH_BSK_MAU"("BS_MA");

-- CreateIndex
CREATE INDEX "idx_lbm_ck" ON "LICH_BSK_MAU"("CK_MA");

-- CreateIndex
CREATE INDEX "idx_lbm_phong" ON "LICH_BSK_MAU"("P_MA");

-- CreateIndex
CREATE INDEX "idx_lbm_status_slot" ON "LICH_BSK_MAU"("LBM_TRANG_THAI", "LBM_THU_TRONG_TUAN", "B_TEN");

-- CreateIndex
CREATE INDEX "idx_lbm_bs_slot" ON "LICH_BSK_MAU"("BS_MA", "LBM_THU_TRONG_TUAN", "B_TEN");

-- CreateIndex
CREATE INDEX "idx_lbm_phong_slot" ON "LICH_BSK_MAU"("P_MA", "LBM_THU_TRONG_TUAN", "B_TEN");

-- CreateIndex
CREATE INDEX "idx_lbm_hieu_luc" ON "LICH_BSK_MAU"("LBM_HIEU_LUC_TU", "LBM_HIEU_LUC_DEN");

-- CreateIndex
CREATE INDEX "idx_lbn_ck" ON "LICH_BSK_NHAP"("CK_MA");

-- CreateIndex
CREATE INDEX "idx_lbn_khoang" ON "LICH_BSK_NHAP"("LBN_TU_NGAY", "LBN_DEN_NGAY");

-- CreateIndex
CREATE INDEX "idx_dlt_trang_thai" ON "DOT_LICH_TUAN"("DLT_TRANG_THAI");

-- CreateIndex
CREATE INDEX "idx_ycl_bs_trang_thai" ON "YEU_CAU_LICH_BSK"("BS_MA", "YCL_TRANG_THAI");

-- CreateIndex
CREATE INDEX "idx_ycl_ngay" ON "YEU_CAU_LICH_BSK"("LBSK_N_NGAY");

-- CreateIndex
CREATE INDEX "idx_ycl_tao_luc" ON "YEU_CAU_LICH_BSK"("YCL_TAO_LUC");

-- CreateIndex
CREATE INDEX "idx_tb_tk" ON "THONG_BAO"("TK_SDT");

-- CreateIndex
CREATE INDEX "idx_otp_tk" ON "XAC_THUC_OTP"("TK_SDT");

-- CreateIndex
CREATE INDEX "idx_xp_ttp" ON "XA_PHUONG"("TTP_MA");

-- CreateIndex
CREATE UNIQUE INDEX "REFRESH_TOKEN_RT_HASH_key" ON "REFRESH_TOKEN"("RT_HASH");

-- CreateIndex
CREATE INDEX "idx_rt_user_exp" ON "REFRESH_TOKEN"("TK_SDT", "RT_EXPIRES_AT");

-- AddForeignKey
ALTER TABLE "AP_KV" ADD CONSTRAINT "AP_KV_XP_MA_fkey" FOREIGN KEY ("XP_MA") REFERENCES "XA_PHUONG"("XP_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "BAC_SI" ADD CONSTRAINT "BAC_SI_CK_MA_fkey" FOREIGN KEY ("CK_MA") REFERENCES "CHUYEN_KHOA"("CK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "BAC_SI" ADD CONSTRAINT "BAC_SI_TK_SDT_fkey" FOREIGN KEY ("TK_SDT") REFERENCES "TAI_KHOAN"("TK_SDT") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "BENH_NHAN" ADD CONSTRAINT "BENH_NHAN_AK_MA_fkey" FOREIGN KEY ("AK_MA") REFERENCES "AP_KV"("AK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "BENH_NHAN" ADD CONSTRAINT "BENH_NHAN_TK_SDT_fkey" FOREIGN KEY ("TK_SDT") REFERENCES "TAI_KHOAN"("TK_SDT") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHAN_DOAN" ADD CONSTRAINT "CHAN_DOAN_B_MA_ICD_fkey" FOREIGN KEY ("B_MA_ICD") REFERENCES "BENH"("B_MA_ICD") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHAN_DOAN" ADD CONSTRAINT "CHAN_DOAN_PKB_MA_fkey" FOREIGN KEY ("PKB_MA") REFERENCES "PHIEU_KHAM_BENH"("PKB_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHI_SO_SUC_KHOE" ADD CONSTRAINT "CHI_SO_SUC_KHOE_BN_MA_fkey" FOREIGN KEY ("BN_MA") REFERENCES "BENH_NHAN"("BN_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHI_TIET_DON_THUOC" ADD CONSTRAINT "CHI_TIET_DON_THUOC_DT_MA_fkey" FOREIGN KEY ("DT_MA") REFERENCES "DON_THUOC"("DT_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHI_TIET_DON_THUOC" ADD CONSTRAINT "CHI_TIET_DON_THUOC_T_MA_fkey" FOREIGN KEY ("T_MA") REFERENCES "THUOC"("T_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DANG_KY" ADD CONSTRAINT "DANG_KY_BN_MA_fkey" FOREIGN KEY ("BN_MA") REFERENCES "BENH_NHAN"("BN_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DANG_KY" ADD CONSTRAINT "DANG_KY_KG_MA_fkey" FOREIGN KEY ("KG_MA") REFERENCES "KHUNG_GIO"("KG_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DANG_KY" ADD CONSTRAINT "DANG_KY_LHK_MA_fkey" FOREIGN KEY ("LHK_MA") REFERENCES "LOAI_HINH_KHAM"("LHK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DANG_KY" ADD CONSTRAINT "fk_dk_lichbsk" FOREIGN KEY ("BS_MA", "N_NGAY", "B_TEN") REFERENCES "LICH_BSK"("BS_MA", "N_NGAY", "B_TEN") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DON_THUOC" ADD CONSTRAINT "DON_THUOC_PKB_MA_fkey" FOREIGN KEY ("PKB_MA") REFERENCES "PHIEU_KHAM_BENH"("PKB_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "KET_QUA_CAN_LAM_SAN" ADD CONSTRAINT "fk_kqcls_th" FOREIGN KEY ("PCD_MA", "DVCLS_MA") REFERENCES "THUCHIEN"("PCD_MA", "DVCLS_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "KHUNG_GIO" ADD CONSTRAINT "KHUNG_GIO_B_TEN_fkey" FOREIGN KEY ("B_TEN") REFERENCES "BUOI"("B_TEN") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK" ADD CONSTRAINT "LICH_BSK_BS_MA_fkey" FOREIGN KEY ("BS_MA") REFERENCES "BAC_SI"("BS_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK" ADD CONSTRAINT "LICH_BSK_B_TEN_fkey" FOREIGN KEY ("B_TEN") REFERENCES "BUOI"("B_TEN") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK" ADD CONSTRAINT "LICH_BSK_N_NGAY_fkey" FOREIGN KEY ("N_NGAY") REFERENCES "NGAY"("N_NGAY") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK" ADD CONSTRAINT "LICH_BSK_P_MA_fkey" FOREIGN KEY ("P_MA") REFERENCES "PHONG"("P_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK" ADD CONSTRAINT "LICH_BSK_LBM_ID_fkey" FOREIGN KEY ("LBM_ID") REFERENCES "LICH_BSK_MAU"("LBM_ID") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK" ADD CONSTRAINT "LICH_BSK_DLT_TUAN_BAT_DAU_fkey" FOREIGN KEY ("DLT_TUAN_BAT_DAU") REFERENCES "DOT_LICH_TUAN"("DLT_TUAN_BAT_DAU") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LOAI_HINH_KHAM" ADD CONSTRAINT "LOAI_HINH_KHAM_CK_MA_fkey" FOREIGN KEY ("CK_MA") REFERENCES "CHUYEN_KHOA"("CK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHIEU_CDCLS" ADD CONSTRAINT "PHIEU_CDCLS_PKB_MA_fkey" FOREIGN KEY ("PKB_MA") REFERENCES "PHIEU_KHAM_BENH"("PKB_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHIEU_KHAM_BENH" ADD CONSTRAINT "PHIEU_KHAM_BENH_DK_MA_fkey" FOREIGN KEY ("DK_MA") REFERENCES "DANG_KY"("DK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHONG" ADD CONSTRAINT "PHONG_CK_MA_fkey" FOREIGN KEY ("CK_MA") REFERENCES "CHUYEN_KHOA"("CK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK_MAU" ADD CONSTRAINT "LICH_BSK_MAU_BS_MA_fkey" FOREIGN KEY ("BS_MA") REFERENCES "BAC_SI"("BS_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK_MAU" ADD CONSTRAINT "LICH_BSK_MAU_CK_MA_fkey" FOREIGN KEY ("CK_MA") REFERENCES "CHUYEN_KHOA"("CK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK_MAU" ADD CONSTRAINT "LICH_BSK_MAU_P_MA_fkey" FOREIGN KEY ("P_MA") REFERENCES "PHONG"("P_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK_MAU" ADD CONSTRAINT "LICH_BSK_MAU_B_TEN_fkey" FOREIGN KEY ("B_TEN") REFERENCES "BUOI"("B_TEN") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_BSK_NHAP" ADD CONSTRAINT "LICH_BSK_NHAP_CK_MA_fkey" FOREIGN KEY ("CK_MA") REFERENCES "CHUYEN_KHOA"("CK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "YEU_CAU_LICH_BSK" ADD CONSTRAINT "YEU_CAU_LICH_BSK_BS_MA_fkey" FOREIGN KEY ("BS_MA") REFERENCES "BAC_SI"("BS_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "YEU_CAU_LICH_BSK" ADD CONSTRAINT "YEU_CAU_LICH_BSK_BS_MA_LBSK_N_NGAY_LBSK_B_TEN_fkey" FOREIGN KEY ("BS_MA", "LBSK_N_NGAY", "LBSK_B_TEN") REFERENCES "LICH_BSK"("BS_MA", "N_NGAY", "B_TEN") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "YEU_CAU_LICH_BSK" ADD CONSTRAINT "YEU_CAU_LICH_BSK_YCL_BUOI_MOI_fkey" FOREIGN KEY ("YCL_BUOI_MOI") REFERENCES "BUOI"("B_TEN") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "YEU_CAU_LICH_BSK" ADD CONSTRAINT "YEU_CAU_LICH_BSK_YCL_P_MA_MOI_fkey" FOREIGN KEY ("YCL_P_MA_MOI") REFERENCES "PHONG"("P_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "YEU_CAU_LICH_BSK" ADD CONSTRAINT "YEU_CAU_LICH_BSK_YCL_GOI_Y_BS_MA_fkey" FOREIGN KEY ("YCL_GOI_Y_BS_MA") REFERENCES "BAC_SI"("BS_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THANH_TOAN" ADD CONSTRAINT "THANH_TOAN_DK_MA_fkey" FOREIGN KEY ("DK_MA") REFERENCES "DANG_KY"("DK_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THANH_TOAN" ADD CONSTRAINT "THANH_TOAN_PKB_MA_fkey" FOREIGN KEY ("PKB_MA") REFERENCES "PHIEU_KHAM_BENH"("PKB_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THONG_BAO" ADD CONSTRAINT "THONG_BAO_TK_SDT_fkey" FOREIGN KEY ("TK_SDT") REFERENCES "TAI_KHOAN"("TK_SDT") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THUCHIEN" ADD CONSTRAINT "THUCHIEN_DVCLS_MA_fkey" FOREIGN KEY ("DVCLS_MA") REFERENCES "DICHVU"("DVCLS_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THUCHIEN" ADD CONSTRAINT "THUCHIEN_PCD_MA_fkey" FOREIGN KEY ("PCD_MA") REFERENCES "PHIEU_CDCLS"("PCD_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THUOC" ADD CONSTRAINT "THUOC_BD_MA_fkey" FOREIGN KEY ("BD_MA") REFERENCES "BIET_DUOC"("BD_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THUOC" ADD CONSTRAINT "THUOC_DVT_MA_fkey" FOREIGN KEY ("DVT_MA") REFERENCES "DON_VI_TINH"("DVT_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THUOC" ADD CONSTRAINT "THUOC_NSX_MA_fkey" FOREIGN KEY ("NSX_MA") REFERENCES "NHA_SAN_XUAT"("NSX_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THUOC" ADD CONSTRAINT "THUOC_NT_MA_fkey" FOREIGN KEY ("NT_MA") REFERENCES "NHOM_THUOC"("NT_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "XAC_THUC_OTP" ADD CONSTRAINT "XAC_THUC_OTP_TK_SDT_fkey" FOREIGN KEY ("TK_SDT") REFERENCES "TAI_KHOAN"("TK_SDT") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "XA_PHUONG" ADD CONSTRAINT "XA_PHUONG_TTP_MA_fkey" FOREIGN KEY ("TTP_MA") REFERENCES "TINH_TP"("TTP_MA") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "REFRESH_TOKEN" ADD CONSTRAINT "REFRESH_TOKEN_TK_SDT_fkey" FOREIGN KEY ("TK_SDT") REFERENCES "TAI_KHOAN"("TK_SDT") ON DELETE CASCADE ON UPDATE CASCADE;

